@model List<CustomerModel>
@{
    ViewBag.Title = "Roles";
}

@section Css{
    <style>
        tr, td, th {
            border: 1px solid black !important;
        }

        th {
            font-weight: bold !important;
            text-align: center;
        }

        tr.controller {
            cursor: pointer;
            color: black;
            font-weight: bold;
        }

        .text-align-center {
            text-align: center;
        }

        label input.check-role {
            width: 20px !important;
            height: 20px !important;
        }

        .check-all-role {
            cursor: pointer;
        }
    </style>
}

<div class="page-body">
    <div class="container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Role</li>
                    </ol>
                </div>
                <div class="col-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark pull-right">
                        <ul>
                            <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                            <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                            <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                            <li>
                                <a href="#"><i class="bookmark-search" data-feather="star"></i></a>
                                <form class="form-inline search-form" action="#" method="get">
                                    <div class="form-group form-control-search">
                                        <div class="Typeahead Typeahead--twitterUsers">
                                            <div class="u-posRelative">
                                                <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search.." name="q" title="" autofocus>
                                                <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading...</span></div>
                                            </div>
                                            <div class="Typeahead-menu"></div>
                                            <script id="result-template" type="text/x-handlebars-template">
                                                <div class="ProfileCard u-cf">
                                                    <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
                                                    <div class="ProfileCard-details">
                                                        <div class="ProfileCard-realName">{{name}}</div>
                                                    </div>
                                                </div>
                                            </script>
                                            <script id="empty-template" type="text/x-handlebars-template">
                                                <div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div>
                                            </script>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th width="5%">STT</th>
                        <th>Name</th>
                        <th>CreatedDate</th>
                        <th>Type</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model)
                    {
                        var indexOf = Model.IndexOf(customer) + 1;
                        <tr>
                            <td>@indexOf</td>
                            <td>@customer.UserName</td>
                            <td>@customer.CreatedDate?.ToString("dd-MM-yyyy")</td>
                            <td>@customer.Type.GetDescription()</td>
                            <td>
                                <a href="#" class="btn btn-primary btn-add-role" data-id="@customer.Id" data-name="@customer.UserName" data-toggle="modal" data-target="#popup-modal-common">
                                    <i class="icofont icofont-settings-alt"></i>
                                </a>
                                <a href="javascript:avoid(0)" class="btn btn-danger"><i class="icofont icofont-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {

            $('.btn-add-role').click(function () {
                var id = $(this).data('id');
                $('#popup-modal-common .modal-body').html(' <div class="loader-box"><div class= "loader-32"></div></div>');
                $('#popup-modal-common #customer-id').html($(this).data('id'));
                $('#popup-modal-common .modal-title').html($(this).data('name'));
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetUserRoles", "Permision")",
                    data: { customerId: id },
                    success: function (result) {
                        $('#popup-modal-common .modal-body').html(result.html);

                    },
                    dataType: 'JSON'
                });
            });
        });

    </script>
}
