@model PermisionModel
@{
    Layout = null;
}

<div class="col-md-12">
    <div>
        <input type="hidden" id="role-id" data-id="@Model.RoleId" />
        <input type="hidden" id="role-name" data-id="@Model.RoleName" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">Name</th>
                @foreach (var role in Model.RoleList)
                {
                    <th class="check-all-role">@role.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var controller in Model.ControllerList)
            {
                var indexOf = Model.ControllerList.IndexOf(controller) + 1;

                <tr class="controller">
                    <td colspan="2" class="controller-toggle" data-id="@controller.Name">@controller.Name</td>
                    @foreach (var role in Model.RoleList)
                    {
                        <td class="text-align-center">
                            <label><input class="check-role role-controller role-controller-@role.Name.ToLower()-@indexOf" data-id="@indexOf" data-role="@role.Name.ToLower()" type="checkbox" value="@role.Value"></label>
                        </td>
                    }
                </tr>
                foreach (var action in controller.ActionList)
                {
                    var index = controller.ActionList.IndexOf(action) + 1;
                    <tr class="controller-@controller.Name">
                        <td width="2%">@index .</td>
                        <td>@action.Name</td>
                        @foreach (var role in Model.RoleList)
                        {
                            <td class="text-align-center">
                                <label><input class="check-role check-role-action role-action-@role.Name.ToLower()-@indexOf" data-id="@indexOf" data-role="@role.Name.ToLower()" type="checkbox" value="@role.Value"></label>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

<script>
    setTimeout(initData, 500);
    function initData() {
        $('.controller-toggle').each(function () {
            var name = $(this).data('id');
            $('.controller-' + name).animate({
                height: 'toggle'
            });

        });
    }

    $(document).ready(function () {
        $('.controller-toggle').click(function () {
            var name = $(this).data('id');
            $('.controller-' + name).animate({
                height: 'toggle'
            });
        });

        $('.role-controller').click(function () {
            var indexOf = $(this).data('id');
            var roleName = $(this).data('role');
            var idx = $(this).parent().index();
            $('table input.role-action-' + roleName + '-' + indexOf).prop('checked', this.checked);
        });

        $('.check-role-action').click(function () {
            var indexOf = $(this).data('id');
            var roleName = $(this).data('role');
            if ($('.role-action-' + roleName + '-' + indexOf + ':checked').length == $('.role-action-' + roleName + '-' + indexOf).length)
                $('table input.role-controller-' + roleName + '-' + indexOf).prop('checked', 'checked');
            else
                $('table input.role-controller-' + roleName + '-' + indexOf).prop('checked', '');
        });

        //$('.close-modal').click(function (e) {
        //    e.preventDefault();
        //    $('#popup-modal-common').html('');
        //    $('#popup-modal-common').modal("hide");
        //    $('#popup-modal-common').css("display","");
        //    $('#popup-modal-common').css("pading-right","");
        //    $('#popup-modal-common').removeClass("show");
        //    $('body').removeClass("modal-open");
        //    $('.modal-backdrop').remove();

        //});
    });

</script>
